<div class="p-2 text-xl semibold underline"><%= @event.name %></div>

<%= image_tag "placeholder.jpeg" %>
<div class="p-2">Created by: <%= "#{@event.creator.first_name} #{@event.creator.last_name}" %></div>
<div class="p-2"><%= "#{Date::MONTHNAMES[@event.date.month]} #{@event.date.day} #{@event.date.year}" %></div>
<div class="p-2"><%= @event.time.to_fs(:time)%></div>

<%= form_with model: [@event, @invite] do |f| %>
  <%= f.hidden_field :attended_event_id, value: @event.id %>
  <%= f.hidden_field :attendee_id, value: current_user.id %>
  <div class="p-2"><%= f.submit "Going" %></div>
<% end %>